<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.pay.app.mapper.PayChannelCenterMapper">
  <resultMap id="BaseResultMap" type="quick.pager.pay.model.pay.PayChannelCenter">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="channel_center_name" jdbcType="VARCHAR" property="channelCenterName" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="server_status" jdbcType="INTEGER" property="serverStatus" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, channel_center_name, pay_type, server_status, create_user_name, update_user_name,
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_pay_channel_center
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="quick.pager.pay.model.pay.PayChannelCenter">
    insert into t_pay_channel_center
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="channelCenterName != null">
        channel_center_name,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="serverStatus != null">
        server_status,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="channelCenterName != null">
        #{channelCenterName,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="serverStatus != null">
        #{serverStatus,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="quick.pager.pay.model.pay.PayChannelCenter">
    update t_pay_channel_center
    <set>
      <if test="channelCenterName != null">
        channel_center_name = #{channelCenterName,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="serverStatus != null">
        server_status = #{serverStatus,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectPayChannelCenter" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
      from t_pay_channel_center
      <where>
        <if test="channelCenterName != null">
          channel_center_name = #{channelCenterName,jdbcType=VARCHAR}
        </if>
        <if test="payType != null and payType != ''">
          and pay_type = #{payType,jdbcType=VARCHAR}
        </if>
        <if test="serverStatus != null">
          and server_status = #{serverStatus,jdbcType=INTEGER}
        </if>
      </where>
    order by id desc
  </select>

</mapper>
