<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.pay.mapper.order.OrderMapper">
  <resultMap id="BaseResultMap" type="quick.pager.pay.model.form.Order">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="trade_code" jdbcType="VARCHAR" property="tradeCode" />
    <result column="merchant_order_code" jdbcType="VARCHAR" property="merchantOrderCode" />
    <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="pay_body" jdbcType="VARCHAR" property="payBody" />
    <result column="pay_client_id" jdbcType="VARCHAR" property="payClientId" />
    <result column="pay_jump_url" jdbcType="VARCHAR" property="payJumpUrl" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="notification_status" jdbcType="INTEGER" property="notificationStatus" />
    <result column="trade_status" jdbcType="INTEGER" property="tradeStatus" />
    <result column="trade_amount" jdbcType="DECIMAL" property="tradeAmount" />
    <result column="rate_amount" jdbcType="DECIMAL" property="rateAmount" />
    <result column="deduction_amount" jdbcType="DECIMAL" property="deductionAmount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, merchant_no, pay_type, order_code, trade_code, merchant_order_code, notify_url, 
    pay_body, pay_client_id, pay_jump_url, pay_status, notification_status, trade_status, 
    trade_amount, rate_amount, deduction_amount, create_time, update_time, delete_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="quick.pager.pay.model.form.Order">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantNo != null">
        merchant_no,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="tradeCode != null">
        trade_code,
      </if>
      <if test="merchantOrderCode != null">
        merchant_order_code,
      </if>
      <if test="notifyUrl != null">
        notify_url,
      </if>
      <if test="payBody != null">
        pay_body,
      </if>
      <if test="payClientId != null">
        pay_client_id,
      </if>
      <if test="payJumpUrl != null">
        pay_jump_url,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="notificationStatus != null">
        notification_status,
      </if>
      <if test="tradeStatus != null">
        trade_status,
      </if>
      <if test="tradeAmount != null">
        trade_amount,
      </if>
      <if test="rateAmount != null">
        rate_amount,
      </if>
      <if test="deductionAmount != null">
        deduction_amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeCode != null">
        #{tradeCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderCode != null">
        #{merchantOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="payBody != null">
        #{payBody,jdbcType=VARCHAR},
      </if>
      <if test="payClientId != null">
        #{payClientId,jdbcType=VARCHAR},
      </if>
      <if test="payJumpUrl != null">
        #{payJumpUrl,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="notificationStatus != null">
        #{notificationStatus,jdbcType=INTEGER},
      </if>
      <if test="tradeStatus != null">
        #{tradeStatus,jdbcType=INTEGER},
      </if>
      <if test="tradeAmount != null">
        #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="rateAmount != null">
        #{rateAmount,jdbcType=DECIMAL},
      </if>
      <if test="deductionAmount != null">
        #{deductionAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="quick.pager.pay.model.form.Order">

    update t_order
    <set>
      <if test="merchantNo != null">
        merchant_no = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeCode != null">
        trade_code = #{tradeCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderCode != null">
        merchant_order_code = #{merchantOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="payBody != null">
        pay_body = #{payBody,jdbcType=VARCHAR},
      </if>
      <if test="payClientId != null">
        pay_client_id = #{payClientId,jdbcType=VARCHAR},
      </if>
      <if test="payJumpUrl != null">
        pay_jump_url = #{payJumpUrl,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="notificationStatus != null">
        notification_status = #{notificationStatus,jdbcType=INTEGER},
      </if>
      <if test="tradeStatus != null">
        trade_status = #{tradeStatus,jdbcType=INTEGER},
      </if>
      <if test="tradeAmount != null">
        trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="rateAmount != null">
        rate_amount = #{rateAmount,jdbcType=DECIMAL},
      </if>
      <if test="deductionAmount != null">
        deduction_amount = #{deductionAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectOrders" resultMap="BaseResultMap" resultType="quick.pager.pay.vo.OrderVO">
    select
      <include refid="Base_Column_List" />
      from t_order
      <where>
        delete_status = 0
        <if test="merchantNo != null">
          and merchant_no = #{merchantNo,jdbcType=VARCHAR}
        </if>
        <if test="payType != null">
          and pay_type = #{payType,jdbcType=VARCHAR}
        </if>
        <if test="orderCode != null">
          and order_code = #{orderCode,jdbcType=VARCHAR}
        </if>
        <if test="payStatus != null">
          and pay_status = #{payStatus,jdbcType=INTEGER}
        </if>
        <if test="notificationStatus != null">
          and notification_status = #{notificationStatus,jdbcType=INTEGER}
        </if>
        <if test="tradeStatus != null">
          and trade_status = #{tradeStatus,jdbcType=INTEGER}
        </if>
        <if test="beginTime != null and beginTime != ''">
          and create_time &gt;= #{beginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null and endTime != ''">
          and create_time &lt;= #{endTime,jdbcType=TIMESTAMP}
        </if>
      </where>
      order by id desc
  </select>

</mapper>